@use "../../initial" as *;

.search {
    margin-top: -2rem;
    margin-bottom: 3rem;

    @media (max-width: #{$md2}px) {
        margin-bottom: 2rem;
    }

    @media (max-width: #{$md3}px) {
        margin-bottom: 1.5rem;
    }

    // INPUT TAG
    &__input {
        width: 100%;
        transition: box-shadow 0.3s;
        color: var(--white);
        padding: 1rem 1.5rem;

        &:focus {
            &::placeholder {
                opacity: 0.4;
            }
        }

        &::placeholder {
            color: var(--white);
        }

        @media (max-width: #{$md3}px) {
            font-size: 1.4rem;
            padding: 1rem;
        }

        @media (max-width: #{$md4}px) {
            font-size: 1.2rem;
        }
    }
}
